@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.prose p {
  color: rgb(71 85 105);
  font-size: 1.05rem;
  line-height: 2;
}
